$main-blue: #1ca8c3;
$main-red: #ff5656;
$main-grey: #999999;
$main-black: #212121;
$main-white: #ffffff;

* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  width: 100%;
  height: 50px;
  background-color: $main-black;
  position: fixed;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu__link {
  color: $main-white;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.menu__item {
  border-right: 2px dotted black;
  padding-right: 45px;

  &:last-child {
    border: none;
  }
}

.subheader {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader__logo {
  display: block;
  margin-top: 19px;
  max-width: 100%;
}

.subheader__official {
  margin-top: 6px;
  opacity: 0.5;
  color: $main-white;
  font-weight: 200;
  font-size: 13px;
}

.subheader__call {
  color: $main-white;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  margin-top: 21px;
}

.btn {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  color: $main-white;

  &:hover,
  &focus {
    background-color: $main-blue;
  }
}

.subheader__btn {
  margin-top: 21px;
  width: 162px;
  height: 46px;
  align-items: center;
  text-align: center;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  font-weight: 400;
  font-size: 14px;
}

.phone_numb {
  display: block;
  margin-top: 8px;
  color: $main-white;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}

.promo {
  min-height: 800px;
  background: url('../img/uber_bg.png') center (center / cover) no-repeat;
  padding: 200px 0 186px 0;

  .promo__header {
    color: $main-white;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  .promo__subheader {
    color: $main-white;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 22px;
  }

  .promo__description {
    margin-top: 24px;
    color: $main-white;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .promo__btn {
    margin: 0 auto;
    margin-top: 115px;
    font-weight: 400;
    font-size: 18px;
    display: block;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  }

  .reasone {
    min-height: 850px;
    padding: 18px 0 64px 0;
  }

  .reasone__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .reasone__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 116px;
    height: 116px;
    background: $main-blue;
  }

  .reasone__descr {
    width: 371px;
    margin-left: 25px;
  }

  .reasone__subheader {
    color: $main-blue;
    line-height: 21px;
    font-weight: 400;
    font-size: 17px;
  }

  .reasone__text {
    color: $main-black;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
  }

  .label {
    display: flex;
    margin: 0 auto;
    color: $main-white;
    background-color: $main-black;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }

  .label--dark-mode {
    background: $main-white;
    color: $main-white;
  }

  .title {
    margin-bottom: 0;
    margin-top: 32px;
    color: $main-black;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
  }

  .subtitle {
    color: $main-black;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
  }

  .mobile {
    padding: 46px 0 80px 0;
    min-height: 864px;
    background: url('../img/mobile_bg.png') center (center/cover) no-repeat;
  }

  .row {
    margin-top: 30px;
  }

  .mobile__item {
    position: relative;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 91px;
    width: 320px;
    height: 280px;
  }

  .mobile__item-1 {
    background: url('../img/card/card1.png') center (center/cover) no-repeat;
  }

  .mobile__item-2 {
    background: url('../img/card/card2.png') center (center/cover) no-repeat;
  }

  .mobile__item-3 {
    background: url('../img/card/card3.png') center (center/cover) no-repeat;
  }

  .mobile__item-4 {
    background: url('../img/card/card4.png') center (center/cover) no-repeat;
  }

  .mobile__item-5 {
    background: url('../img/card/card5.png') center (center/cover) no-repeat;
  }

  .mobile__item-6 {
    background: url('../img/card/card6.png') center (center/cover) no-repeat;
  }

  .mobile__subtitle {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .mobile__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 29px;
    height: 29px;
    background: $main-black;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 2px;
      background-color: $main_blue;
      transition: 0.3s all;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      display: block;
      height: 14px;
      width: 2px;
      background-color: $main_blue;
      transition: 0.3s all;
    }

    &:hover {
      &:before,
      &:after {
        background-color: $main-red;
      }
    }
  }
}

.choise {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 56px 0 137px 0;
  min-height: 898px;
  background: url('../img/car-top_bg.png') center (center/cover) no-repeat;

  .title {
    margin-top: 27px;
    color: $main-white;
  }

  .subtitle {
    color: $main-white;
  }

  .car_img {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
  }

  &_text {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: $main-black;
    text-align: center;
  }
}

.conditions {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 68px 0 87px 0;
  min-height: 917px;

  &_sub_text {
    font-weight: 300;
    font-size: 17px;
    color: $main-blue;
  }

  &_block {
    margin: 33px 0;

    &_nmb {
      margin-bottom: 0px;
    }
  }

  &_title {
    font-weight: 400;
    font-size: 22px;
    color: $main-blue;
  }

  &_title_red {
    color: $main-red;
  }

  &_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
  }

  li {
    position: relative;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -32px;
      top: 3px;
      width: 21px;
      height: 20px;
      background: url('../icons/check_blue.svg') center (center/cover) no-repeat;
    }
  }

  .warning {
    .conditions_list {
      li {
        &:before {
          background: url('../icons/check_red.svg') center (center/cover) no-repeat;
        }
      }
    }
  }
}
.world {
  padding: 49px 0 22px 0;
  height: 720px;
  background: url('../img/map.png') center (center/cover) no-repeat;

  .title {
    color: $main-white;
  }

  .subtitle {
    color: $main-white;
  }

  &__all-city {
    position: relative;
    left: 43%;
    bottom: -475px;
    font-size: 15px;
    font-weight: 400;
    color: $main-blue;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.footer {
  min-width: 155px;
  padding: 11px 0 38px 0;

  &_devider {
    display: block;
    margin: 0 auto;
    background-color: $main-blue;
    height: 7px;
    width: 300px;
  }
}
