.footer {
  padding: 11px 23px 38px 23px;
}

.footer__devider {
  min-width: 155px;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  background-color: $main-blue;
  height: 7px;
  width: 300px;
}

.footer-content {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.social-wrp {
  width: 33%;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: $label-black;
  color: $main-white;
  border-radius: 50%;
  &:hover,
  &:focus {
    color: $main-blue;
  }
}

.social__icon {
  fill: currentColor;
}

.footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
}

.footer-menu__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $label-black;
}

.footer-submenu {
  display: flex;
  gap: 23px;
  align-items: center;
}

.footer-submenu__link {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $main-grey;
}

.apps {
  display: flex;
  width: 33%;
  justify-content: flex-end;
}

.app-link {
  margin-left: auto;
}

.language {
  display: block;
  margin: 0 auto;
  width: 70px;
  font-size: 11px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $language-blue;
}
